@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family:
    work sans,
    sans-serif;
}

h1 {
  font-size: clamp(8rem, 16vw, 10rem);
  color: #fff;
  font-weight: 800;
  margin: 20px;
}

h2 {
  font-size: clamp(6rem, 12vw, 8rem);
  color: #000;
  margin: 15px;
  font-weight: 700;
}

h3 {
  font-size: clamp(4rem, 8vw, 6rem);
  color: #000;
  margin: 15px;
  font-weight: 500;
}

h4 {
  font-size: clamp(3.5rem, 6vw, 4.5rem);
  color: #000;
  margin: 15px;
  font-weight: 300;
}

p {
  font-size: clamp(3rem, 4vw, 4rem);
  font-weight: 300;
  color: #000;
  margin: 15px;
}

.btn-1 {
  border-radius: 1000px;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  font-size: clamp(3rem, 4vw, 4rem);
  padding: 10px 20px;
  margin: 15px 0;
  transition: ease 0.3s;
}

.btn-2 {
  border-radius: 1000px;
  background-color: #d9d9d9;
  color: #000000;
  font-weight: 500;
  font-size: clamp(3rem, 4vw, 4rem);
  padding: 10px 20px;
  margin: 15px 0;
  transition: ease 0.3s;
}
.btn-2:hover, .btn-1:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 80%;
}

.shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card {
  border-radius: 20px;
  padding: 20px;
  margin: 20px 10px;
  background-color: #d9d9d9;
}

.link {
  color: #0044FF;
  text-decoration: underline;
  transition: ease 0.3s;
}
.link:hover {
  color: #113597;
}

.txt-preto {
  color: #000000;
}

.txt-branco {
  color: #ffffff;
}

.txt-centralizado {
  text-align: center;
}

.bg-preto {
  background-color: #000000;
}

.bg-branco {
  background-color: #ffffff;
}

.bg-gray {
  background-color: #d9d9d9;
}

/* DESKTOP */
@media screen and (min-width: 600px) {
}
